{% extends "base.html" %}
{% block title %} Editer une identification (WTF) {% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une identification
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.nom_utilisateur_identification_update_wtf(size=32) }}<br>
						{% for error in form_update.nom_utilisateur_identification_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form_update.courriel_identification_update_wtf(size=32) }}<br>
						{% for error in form_update.courriel_identification_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.mdp_identification_update_wtf(size=32) }}<br>
						{% for error in form_update.mdp_identification_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

