{% extends "base.html" %}
{% block title %} Editer un details (WTF) {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un details
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
                        Sexe : <br>
						{{ form_update.sexe_update_wtf(size=32) }}<br>
						{% for error in form_update.sexe_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Rue : <br>
						{{ form_update.rue_update_wtf(size=32) }}<br>
						{% for error in form_update.rue_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Numéro de la rue : <br>
						{{ form_update.numero_update_rue_wtf(size=32) }}<br>
						{% for error in form_update.numero_update_rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        NPA : <br>
						{{ form_update.npa_update_wtf(size=32) }}<br>
						{% for error in form_update.npa_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Ville : <br>
						{{ form_update.ville_update_wtf(size=32) }}<br>
						{% for error in form_update.ville_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Pays : <br>
						{{ form_update.pays_update_wtf(size=32) }}<br>
						{% for error in form_update.pays_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Téléphone : <br>
						{{ form_update.telephone_update_wtf(size=32) }}<br>
						{% for error in form_update.telephone_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Date d'entrée dans l'entreprise : <br>
						{{ form_update.date_entree_entreprise_update_wtf(size=32) }}<br>
						{% for error in form_update.date_entree_entreprise_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

