{% extends "base.html" %}
{% block title %} Ajouter des details (WTF) {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter des nouveaux details (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
                        Sexe : <br>
						{{ form.sexe_wtf(size=32) }}<br>
						{% for error in form.sexe_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Rue : <br>
						{{ form.rue_wtf(size=32) }}<br>
						{% for error in form.rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Numéro de la rue : <br>
						{{ form.numero_rue_wtf(size=32) }}<br>
						{% for error in form.numero_rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        NPA : <br>
						{{ form.npa_wtf(size=32) }}<br>
						{% for error in form.npa_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Ville : <br>
						{{ form.ville_wtf(size=32) }}<br>
						{% for error in form.ville_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Pays : <br>
						{{ form.pays_wtf(size=32) }}<br>
						{% for error in form.pays_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        Téléphone : <br>
						{{ form.telephone_wtf(size=32) }}<br>
						{% for error in form.telephone_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                        Date d'entrée dans l'entrepise </br>
                        {{ form.date_entree_entreprise_wtf(size=32) }}<br>
						{% for error in form.date_entree_entreprise_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                </div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

